* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

header {
    height: 150px;
    background: rgb(78, 184, 101);
}

header a{
    color: black;
    text-decoration: none;
    padding: 20px;

}

header a:hover{
    text-decoration: overline;
}

main {
    min-height: 1000px;
    background-image: url(https://plus.unsplash.com/premium_photo-1681488098851-e3913f3b1908?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzN8fG1hcHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
}

main div {
    width: 60%;

}


img {
    width: 40%;
    transition: 500ms;


}

img:hover {
    transform: scale(1.04, 1.04);

}

.myCard {
    background: rgba(0, 0, 0, 0.683);
    border-radius: 15%;
    margin: 20px;
    color: rgb(78, 184, 101);
    transform: scale(1.1, 1.1);
    transition: 500ms;

}

.myCard a{
    color: rgb(78, 184, 101);
    padding: 8px;
    transition: 500ms;

}

.myCard:hover {
    background: rgba(0, 0, 0, 0.847);
    transform: scale(1.08, 1.08);

}
.myCard a:hover{
    color: rgb(113, 249, 143);
}

